<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projected Cash Values App</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
     <script src="underscore-min.js"></script>
     <script src="chart.min.js"></script>
     <script src="moment.js"></script>
     <script src="angular-chart.min.js"></script>
     <script src="index.js"></script>
     </script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body ng-app="app">
<div ng-controller="AppController" class="container">
  <h1>Projected Cash Value Calculator {{2+1}}</h1>
  <canvas id="line" class="chart chart-line" chart-data="data"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>


<h2>Basic Numeric Data</h2>


<div class="row">
  <div ng-hide="pvToFv" class="input-group col-md-3 col-sm-3 col-xs-6">
   <div class="input-group-addon">FV</div>
   <input type="text" class="form-control" placeholder="0" ng-model="fv"></input>
    <span ng-hide="numberValidation(fv)"><div class="text-danger">*</div></span>
 </div>
 <div ng-show="pvToFv" class="input-group col-md-3 col-sm-3 col-xs-6">
  <div class="input-group-addon">PV</div>
  <input type="text" class="form-control" placeholder="0" ng-model="pv"></input>
   <span ng-hide="numberValidation(pv)"><div class="text-danger">*</div></span>
</div>

<div class="input-group col-md-3 col-sm-6 col-xs-6">
 <div class="input-group-addon">{{typeOfPeriod}} Payment</div>
 <input type="text" class="form-control" placeholder="0" ng-model="payment"></input>
  <span ng-hide="numberValidation(payment)"><div class="text-danger">*</div></span>
</div>


<div class="input-group col-md-3 col-sm-6 col-xs-6">
 <div class="input-group-addon">{{typeOfPeriod}} Compounded Rate(%) </div>
 <input type="text" class="form-control" placeholder="0"  ng-model="growthrate"></input>
   <span ng-hide="numberValidation(growthrate)"><div class="text-danger">*</div></span>
</div>
<div class="input-group col-md-5 col-sm-6 col-xs-6">
 <div class="input-group-addon">Time Period</div>
 <select ng-model="typeOfPeriod" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
   <option selected value="">Choose...</option>
   <option value="Annual">Annual</option>
   <option value="Monthly">Monthly</option>

 </select>
    <span ng-hide="validationTypePeriod(typeOfPeriod)"><div class="text-danger">*</div></span>
</div>


<div class="input-group col-md-3 col-sm-6 col-xs-6">
 <div class="input-group-addon">Num Periods ({{typeOfPeriod}})</div>
 <input type="text" class="form-control" placeholder="0" ng-model="numPeriods"></input>
<span ng-hide="numberValidation(numPeriods)"><div class="text-danger">*</div></span>
</div>
{{cl(numPeriods)}}


<!-- <div class="input-group col-md-3 col-sm-3 col-xs-6">
 <div class="input-group-addon">{{typeOfPeriod}} Rate (Low)</div>
 <input type="text" class="form-control" placeholder="0" ng-model="rateConservative"></input>
</div>
<div class="input-group col-md-3 col-sm-3 col-xs-6">
 <div class="input-group-addon">{{typeOfPeriod}} Rate (Med)</div>
 <input type="text" class="form-control" placeholder="0" ng-model="rateModerate"></input>
</div>
<div class="input-group col-md-3 col-sm-3 col-xs-6">
 <div class="input-group-addon">{{typeOfPeriod}} Rate (High)</div>
 <input type="text" class="form-control" placeholder="0" ng-model="rateOptimistic"></input>
</div>

<hr />
<br>
</div>
<span ng-hide="numberValidation(fv)">
  <div class="alert alert-danger" role="alert">
  There is an error with the value of fv. Check to make sure that it is a non-zero number.
  </div>
</span>

<span ng-hide="numberValidation(pv)">
  <div class="alert alert-danger" role="alert">
  There is an error with the value of pv. Check to make sure that it is a non-zero number.
  </div>
</span>

<span ng-hide="numberValidation(payment)">
    <div class="alert alert-danger" role="alert">
  There is an error with the value of payment. Check to make sure that it is a non-zero number.
    </div>
</span>

<span ng-hide="numberValidation(growthrate)">
    <div class="alert alert-danger" role="alert">
  There is an error with the value of growthrate. Check to make sure that it is a non-zero number.
    </div>
</span>

 -->
</div>
{{data | json }}
{{labels | json }}

<button type="button" ng-show="pvToFv" ng-click="calculateFVfromPV(pv, payment, growthrate, numPeriods, typeOfPeriod)" class="btn btn-success float-right">Calculate PV to FV</button>
<button type="button" ng-hide="pvToFv"  class="btn btn-success float-right">Calculate FV to PV</button>

<button type="button" ng-show="pvToFv" ng-click="togglePvToFv()" class="btn btn-primary">Change to "FV to PV" mode</button>

<button type="button" ng-hide="pvToFv" ng-click="togglePvToFv()" class="btn btn-warning">Change to "PV to FV" mode</button>

  </body>
</html>
