<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projected Cash Values App</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
     <script src="underscore-min.js"></script>
     <script src="chart.min.js"></script>
     <script src="moment.js"></script>
     <script src="angular-chart.min.js"></script>
     <script src="index.js"></script>
     </script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body ng-app="app">
<div ng-controller="AppController" class="container">
  <h3>Projected Cash Value Calculator</h3>



<canvas id="base" class="chart-bar"
  chart-data="data" chart-labels="labels" chart-colors="colors"
  chart-dataset-override="datasetOverride" >
</canvas>

<h3>Basic Data</h3>


<div class="row">
  <div ng-hide="pvToFv" class="input-group col-md-3 col-sm-4 col-xs-6">
   <div class="input-group-addon">FV</div>
   <input type="text" class="form-control" placeholder="0" ng-model="fv"></input>
    <span ng-hide="numberValidation(fv)"><div class="text-danger">*</div></span>
 </div>
 <div ng-show="pvToFv" class="input-group col-md-3 col-sm-4 col-xs-6">
  <div class="input-group-addon">PV</div>
  <input type="text" class="form-control" placeholder="0" ng-model="pv"></input>
   <span ng-hide="numberValidation(pv)"><div class="text-danger">*</div></span>
</div>

<div class="input-group col-md-4 col-sm-6 col-xs-6">
 <div class="input-group-addon">{{typeOfPeriod}} Payment</div>
 <input type="text" class="form-control" placeholder="0" ng-model="payment"></input>
  <span ng-hide="numberValidation(payment)"><div class="text-danger">*</div></span>
</div>


<div class="input-group col-md-8 col-sm-12 col-xs-6">
 <div class="input-group-addon">{{typeOfPeriod}} Compounded Rate(%) </div>
 <input type="text" class="form-control" placeholder="0"  ng-model="growthrate"></input>

   <span ng-hide="numberValidation(growthrate)"><div class="text-danger">*</div></span>
</div>
<div class="input-group col-md-6 col-sm-6 col-xs-6">
 <div class="input-group-addon">Time Period</div>
 <select ng-model="typeOfPeriod" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
   <option selected value="">Choose...</option>
   <option value="Annual">Annual</option>
   <option value="Monthly">Monthly</option>

 </select>
    <span ng-hide="validationTypePeriod(typeOfPeriod)"><div class="text-danger">*</div></span>
</div>


<div class="input-group col-md-6 col-sm-6 col-xs-6">
 <div class="input-group-addon">Num Periods Annual</div>
 <input type="text" class="form-control" placeholder="0" ng-model="numPeriods"></input>
<span ng-hide="numberValidation(numPeriods)"><div class="text-danger">*</div></span>
</div>
</div>

<span ng-show="pvToFv">
  <button type="button" ng-hide="validationCalculation(fv, pv, payment, growthrate, numPeriods, typeOfPeriod, pvToFv)" class="btn btn-success float-right disabled">Calculate PV to FV</button>
<button type="button"  ng-show="validationCalculation(fv, pv, payment, growthrate, numPeriods, typeOfPeriod, pvToFv)" ng-click="calculateFVfromPV(pv, payment, growthrate, numPeriods, typeOfPeriod)" class="btn btn-success float-right">Calculate PV to FV</button>
</span>

<span ng-hide="pvToFv">
<button type="button" ng-hide="validationCalculation(fv, pv, payment, growthrate, numPeriods, typeOfPeriod, pvToFv)" class="btn btn-success float-right disabled">Calculate FV to PV</button>
<button type="button" ng-show="validationCalculation(fv, pv, payment, growthrate, numPeriods, typeOfPeriod, pvToFv)" ng-click="calculatePVfromFV(fv, payment, growthrate, numPeriods, typeOfPeriod)" class="btn btn-success float-right">Calculate FV to PV</button>
</span>
<button type="button" ng-show="pvToFv" ng-click="togglePvToFv()" class="btn btn-primary">Change to "FV to PV" mode</button>

<button type="button" ng-hide="pvToFv" ng-click="togglePvToFv()" class="btn btn-warning">Change to "PV to FV" mode</button>
<hr>
<h3>Dividend Calculation</h3>
<div class="input-group col-md-6 col-sm-6 col-xs-6">
 <div class="input-group-addon">Annual Dividend Rate (%)</div>
 <input type="text" class="form-control" placeholder="0" ng-model="dividend.rate"></input>
<span ng-hide="numberValidation(dividend.rate)"><div class="text-danger">*</div></span>
</div>
<div class="input-group col-md-6 col-sm-6 col-xs-6">
 <div class="input-group-addon">First Year of Payout</div>
 <input type="text" class="form-control" placeholder="0" ng-model="dividend.start"></input>
<span ng-hide="validationPayoutPeriod(dividend.start, numPeriods)"><div class="text-danger">*</div></span>

</div>
<div class="input-group col-md-6 col-sm-6 col-xs-6">
  <select ng-model="dividend.payoutMode" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option selected value="">Select Payout Mode</option>
    <option value="reinvest">Reinvested</option>
    <option value="payout">Yearly Payout</option>

  </select>
<span ng-hide="validationTypePeriod(dividend.payoutMode)"><div class="text-danger">*</div></span>
</div>
<button type="button" ng-hide="validationDividend(dividend.rate, dividend.start, dividend.payoutMode)" class="btn btn-success float-right disabled">Calculate FV to PV</button>
<button type="button" ng-show="validationDividend(dividend.rate, dividend.start, dividend.payoutMode)" ng-click="calculateDividends(dividend.rate, dividend.start, dividend.payoutMode,growthrate)" class="btn btn-success float-right">Calculate Dividends</button>
<br>
<br>
<hr>

  </body>
</html>
